body{
    background-color: #fff7f7;
}

.choise {
    text-align: center;
    color: #075985;
    font-size: 150%;
    font-weight: 600;
    margin-top: 8%;
}

button {
    width: 20%;
    border-radius: 50px;
    color: #075985;
    background-color: #e0f2fe;
    border: 1px solid #075985;
    font-size: 150%;
    cursor: pointer;
        &:hover {
            background-color: #075985;
            color: #e0f2fe;
        }
}

img {
    width: 150px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.pictures {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 25px;
}

.box {
    margin-top: 8%;
    border-radius: 50px;
    color: #075985;
    background-color: #e0f2fe;
    border: 1px solid #075985;
    display: flex;
    flex-direction: column;
}

.box button {
    margin-bottom: 5%;
    align-self: center;
}

.points {
    display: flex;
    justify-content: space-around;
}

.your-points,
.computer-points {
    background-color: #075985;
    color: #e0f2fe;
    border-radius: 50px;
    margin: 20px;
    font-size: 140%;
    width: 200px;
    text-align: center;
}

.rounds,
.results {
    font-size: 150%;
    text-align: center;
}

.winner {
    font-size: 250%;
    text-align: center;
}

@media (min-width: 940px) {
.width {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    }
}